.popup-container {
    position: relative;
    width: auto;
    height: auto;
    padding: 6px;
    border-radius: 50px;
    background-color: rgb(221, 219, 223);
    cursor: pointer;
}
.popup-container:hover {
    background-color: #c2c0c2;
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.name {
    margin: 6px;
    font-size: 14px;
}

.avatar {
    background-color: red;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
}
.popup-content {
    position: absolute;
    cursor: default;
    height: auto;
    width: auto;
    z-index: 2;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
}

.popup-header {
    background: #212121;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 8px 8px 0 0;
    width: 300px;
}
.header-img {
    border-radius: 50%;
    height: 3rem;
    margin-left: 1rem;
}

.close {
    background: #585858;
    border-radius: 10px;
    height: 20px;
    position: absolute;
    width: 20px;
    right: 1rem;
    top: 1.6rem;
    cursor: pointer;
}
.line1 {
    background: #f6f6f6;
    height: 12px;
    position: absolute;
    transform: translateX(9px) translateY(4px) rotate(45deg);
    width: 2px;
}
.line2 {
    background: #f6f6f6;
    top: 0;
    height: 12px;
    position: absolute;
    transform: translateX(9px) translateY(4px) rotate(-45deg);
    width: 2px;
}
.row {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 60px;
}
